#quotenote {
  background-image: url('../img/patterns/swirl_pattern.png');
  min-height: 500px;
  .quote {
    padding: 160px;
    box-sizing: border-box;
    .quote-text{

    }
    .author-text {
      opacity: .7;
      float: right;
    }
  }
}

#editor {
   background: white;
   width: 300px;
   height: 200px;
   position: fixed;
   top: 0; left: 0;
}
